
#test {
display:inline-block;
}


#image
{
	display:inline-block;
	
}


#entry
{
width:400px;
}

#numberlabel
{
	padding: 10px;
	text-align: center;
	vertical-align: bottom ;
}







#new1 {

	display:inline-block;

}

#new-item, #refresh {
	padding-left:10px;

	display:inline-block;
	
	transform: translateY(-5%);

}



#card-border{
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	display:inline-block;
	overflow-y:auto;
}

#content
{
	overflow-y:auto;
	height:80vh
	
}

#content-border
{
	overflow-y:auto;
	width: 100%;
	
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	
	
}

#qty {
	width:100%;
}

#item-qty {
	float: right;
}

.card-text {
	display:inline-block
}

#form-entry {
	display:inline-block;
	position: absolute;
	top:100px;
}

#desc {
	padding-left:160px;
	display:inline-block;
}

#details {
	height:294px;
}

#desc-label {
	display:block;
}


#left-entry {
	display:inline-block;
	vertical-align: top ;
}

#currentItem {
	display:inline-block
}


#card {
width: 27.8rem;
height: 16rem;
 
 transition: transform .2s;

}

#inventory-card {
	width: 16rem;
	height: 20rem;
	 
	 transition: transform .2s;
	
	}

#card:hover, #inventory-card:hover {
	
	transform: scale(1.05);
	cursor:pointer;
}

#card-img-container
{
	display: flex; /* Set the container as a flex container */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}
#card-img{
	margin:auto;

	object-fit: cover;
}

#page-update
{
	display:none;
}

#curItemPreview
{
	transform: scale(2);
}

#modify-item-btns {
	width:100%;
	padding-top: 95px;
	display:inline-block;
}

#delete-item
{
	float:left;
}

#confirm-item
{
	float:right;
}

.dropdown
{
	display:inline-block;
	padding-left: 20px;
}


#left-nav
{
	float:left;
}

#imgInput, #nameInput, #qtyInput {
	max-width:300px;
}

#toggle-authmode-btn
{ background:none; border:none; }

#toggle-authmode
{
	padding-left: 10px;
	display:inline;
}

#errorMsg
{
	color: lightcoral;
    flex-direction: column;
    align-items: center;
	display:none
}
#authModeHeader
{
	color:lightsteelblue
}

#usernameDisplay
{
	display:inline-block;
	padding-left:15px;
	padding-right:15px;
}

#eye
{
	padding-left:5px;
	transform: translateY(-10%);

}

#socials
{
	display:flex;
	justify-content: center;
	width: 100vw;
	position: fixed;
    bottom: 10px;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }

  ul.navbar li {
	float: left;
  }

  ul.navbar li a {
	display: block;
	color: gray; /* Set default text color */
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  ul.navbar li a:hover {
	color: rgb(92, 119, 226);
  }

  /* CSS for the underlined class */
  ul.navbar li a.active {
	color: rgb(92, 119, 226);
	font-weight: 600;
  }

  .navbar-container {
	display: flex;
	justify-content: flex-end;
	position:relative;
	top: 10px;
  }


  #welcome
  {
	position: relative;
	left:100px;
  }

  #introduction
  {
	display:flex;
	margin-right: 10px;
  }
  #sub-welcome
  {
	position: relative;
	left:-125px;
  }

  #project-preview
  {
	display: flex;
  	align-items: center;
  }

#new-project-btn
{
	float: right;
	margin-right: 10px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
  
#blog
{
	/* Must make the blog on the righthand 20% of screen */
	width: 20%;
	border: 1px solid gray;
	position: fixed;
  	right: 0px;
	top: 10vh;
	height:85vh;
	background-color: #f4f4f4;
	padding-top: 5px;
}

#posts
{
	display: flex;
  	flex-direction: column;
	overflow: auto;
	width:100%;
	height:94%;
}

#post
{
	border-radius: 5%;
	border: 1px dashed gray;
	transition: transform 0.2s ease-in-out;
  	cursor: pointer;
	position: relative;
	margin:8px
}

#post:hover {
	transform: scale(1.05);
  }

#post-date {
  	position: absolute;
  	bottom: -2vh;
  	right: 0;
	font-size:small;
	font-weight: 100;
}

#blog-header {
	display: flex;
	align-items: center;
	position:relative;
	top:5px;
	width:100%;
  }

  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f0f0f0;
	padding: 10px;
  }
  
  .left-section,
  .right-section {
	display: flex;
	align-items: center;
  }
  
  .icon {
	cursor: pointer;
	margin: 0 5px;
  }

  .blue-underline {
	border-bottom: 1px solid #007bff;
  }

  /* inactive skill listing CSS */
  .skill-listing {
	color: gray; /* Set default text color */
	text-decoration: none;
	font-weight: 200;
  }

  ul.skills li p:hover {
	color: rgb(92, 119, 226);
	cursor: pointer;
  }

  /* CSS for the underlined class */
  .skill-listing.active {
	color: rgb(92, 119, 226);
	font-weight: 300;
  }

  ul.skills {
	list-style-type: circle;
	

  }

  .ql-video {
	width: 538px; /* Adjust the width to make the video wider */
	height: 302px; /* Adjust the height to make the video taller */
  }

  blockquote {
	border-left: 4px solid #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 1000px;
	
  }

.social
{
	margin-left: 5px;
	margin-right: 5px;
}