version: "3.9"

services:
  client:
    container_name: client
    build: 
      context: ./my-client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    # depends_on:
    #   - mongo

  # mongo:
  #   image: mongo:latest
  #   restart: unless-stopped
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo_data:/data/db

  server:
    build: 
      context: ./npx
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    links:
      - mongo
           
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"	
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  # mongo_data:
  caddy_data:
  caddy_config: